<%= render "shared/header" %>

<div class="show-page">
 <div class='page'>
  <div class='user-information'>
   <div class='profile'>
   <div data-controller="ten">
    <div class="ten-ran-user">
     <div class="mypage-show">
       <span data-ten-target="userten" data-action="click->ten#userten">:</span>
     </div>
     <div class='mypage-lists' data-ten-target="usershow" class="hidden" style="display:none;">    
      <div class='mypage-list'> 
       <% if user_signed_in? && @user == current_user %>
        <%=link_to "編集", edit_user_path(@user), class:"mypage-list" %>
       <br>
        <%= link_to "削除", user_path(@user), data: {turbo_method: :delete},  class:"mypage-list"%>
       <%end%>
      </div>
     </div>
    </div>
   </div>
    <%#= image_tag @user.image,width:"105",height:"105",class:'user-icon'%>
    <h1 class='user-h1'><%= "#{@user.nickname}"%></h1>
   </div>
   <div class='follow-follower'>

    <%= link_to "フォロー", following_user_path(@user), class: "follow-link" %>
    <turbo-frame id="follow_counts_<%= @user.id %>">
     <div class="follow-counts">
       <%= @user.following.count %>
     </div>
    </turbo-frame>
    <%= link_to "フォロワー", followers_user_path(@user), class: "follow-link1" %>
    <turbo-frame id="follow_counts_<%= @user.id %>">
      <div class="follow-counts">
       <%= @user.followers.count %>
     </div>
    </turbo-frame>

    <h3>いいね</h3>
     <% if user_signed_in? && current_user == @user%>
       <% @user.likes.each do |user| %>
        <p class=“f-user”><%= link_to current_user.nickname, user_path(current_user) %></p>
       <%end%>
     <%end%>
    </div>
  <div class='follow'>
   <% if user_signed_in? && current_user != @user %>
    <turbo-frame id="<%= dom_id(@user, :follow_button) %>">
     <% if @user&.following?(current_user) %>
      <%= button_to "フォロー中",
      user_relationship_path(@user,:id),
      method: :delete,
      class: "btn btn-secondary" %>
    <% else %>
      <%= button_to "フォロー",
      user_relationships_path(@user),
      method: :post,
      class: "btn btn-primary" %>
    <% end %>
   </turbo-frame>
  <%end%>
  </div>
</div>




  <div class='product-lists'>
   <% if @user.items.length == 0 %>
    <h1 class='user-h1'>商品なし</h1>
   <%else%>
    <h1 class='user-h1'><%= "#{@user.nickname} さんの商品一覧"%></h1>

     <div class='product-list'>
     <% @items.each do |item| %>
     <%= link_to item_path(item),data: { turbo_method: :get } do %>
      <%= image_tag item.image,width:"105",height:"105",class: "user-img" %>
     <%end%>
      <div class='item-name'>
        <%= item.name%>
      <br>
       <%= item.price %>円<br><%= item.payment.name %>
       <br>
        <div id="like_<%= dom_id(item) %>">
           <%= render "likes/button", likeable: item %>
        </div>
       </div>
     <%end%>
     </div>
  </div>
  </div>
 <%end%>
</div>