<%= render "shared/header" %>

<%# 商品の概要 %>
<div class="item-show">

  <div class="item-box">
    <h2 class="name">
       <%= @item.name %>
       <%= l @item.created_at, class:"comment-created-at"%>
              <% @users.each do |user| %>
             <% next if @item.user == current_user %>
             <% next if user == current_user %>
           <% if user.followed_by?(current_user) %>
              <% relationship = current_user.active_relationships.find_by(followed_id: user.id) %>
              <%= link_to "フォロー中", user_relationship_path(user,relationship), data: { turbo_method: :delete }, class: "item-relationship" %>
           <%else%>
              <%= link_to "フォローする", user_relationships_path(user), data: { turbo_method: :post }, class: "item-relationship" %>
           <% end %>
        <% end %>
    </h2>
    <div class='item-img-content'>
      <%= image_tag @item.image, class:"item-box-img" %>
      <% if @item.order != nil %>
      <div class="sold-out">
        <span>Sold Out!!</span>
      </div>
      <%end %>
    </div>
    <div class="item-price-box">
      <span class="item-price">
        <%= @item.price %>円
      </span>
      <span class="item-postage">
        (税込) 送料込み
      </span>
    </div>

  <% if user_signed_in? %>
   <%if current_user.id == @item.user.id && @item.order.nil? %>
    <%= link_to "商品の編集", edit_item_path(@item), method: :get, class: "item-red-btn" %>
    <p class="or-text">or</p>
    <%= link_to "削除", item_path(@item), data: {turbo_method: :delete}, class:"item-destroy" %>

   <%else %>
    <% if @item.order.nil?%>
    <%= link_to "購入画面に進む", item_orders_path(@item) , data: { turbo: false },class:"item-red-btn"%>
    <% end %>
   <%end%>

  <% end %>

    

    

    <div class="item-explain-box">
      <span><%= @item.explanation %></span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">出品者</th>
          <td class="detail-value"><%= link_to @item.user.nickname, user_path %>(ユーザー名を押してユーザーマイページに移動)</td>
        </tr>
        <tr>
          <th class="detail-item">カテゴリー</th>
          <td class="detail-value"><%= @item.genre.name %></td>
        </tr>
        <tr>
          <th class="detail-item">商品の状態</th>
          <td class="detail-value"><%= @item.quality.name %></td>
        </tr>
        <tr>
          <th class="detail-item">配送料の負担</th>
          <td class="detail-value"><%= @item.payment.name %></td>
        </tr>
        <tr>
          <th class="detail-item">発送元の地域</th>
          <td class="detail-value"><%= @item.prefecture.name %></td>
        </tr>
        <tr>
          <th class="detail-item">発送日の目安</th>
          <td class="detail-value"><%= @item.days.name %></td>
        </tr>
      </tbody>
    </table>
    <div class="option">
      <div class="favorite-btn">
        <%= image_tag "images/star.png" ,class:"favorite-star-icon", id:"star" ,width:"20",height:"20"%>
        <span id='star-counts'>お気に入り 0</span>
      </div>
      <div class="report-btn">
        <%= image_tag "images/flag.png" ,class:"report-flag-icon" ,width:"20",height:"20"%>
        <span>不適切な商品の通報</span>
      </div>
    </div>
  </div>
  <%# /商品の概要 %>

  <div class="comment-box">
    <% if user_signed_in? %>
     <%=form_with(model:[@item,@comment],local: true) do |f|%>
         <%#= render 'shared/error_messages', model: f.object , url: item_comments_path(@item)%>
      <%=f.text_field :text, class:"comment-text"%>
      <p class="comment-warn">
        相手のことを考え丁寧なコメントを心がけましょう。
        <br>
        不快な言葉遣いなどは利用制限や退会処分となることがあります。
      </p>
      <button type="submit" class="comment-btn">
        <%= image_tag "images/comment.png" ,class:"comment-flag-icon" ,width:"20",height:"25"%>   
          <span>コメントする<span>
      </button>
      <div class="comment-btn2" id='comment-ran'>
           <span id="comment-ran">コメント欄</span>
      </div>
      <%end%>
     <%end%>
      <ul class="comments hidden" id='comments'>
       <%@item.comments.each do |comment| %>
        <li class="comment-lists">
          <li class="comment-list">
           <%= comment.user.nickname %>
           <%= l comment.created_at, class:"comment-created-at"%>
           <div class="ten-ran">
            <div class="comment-show">
              <span>:</span>
            </div>
             <ul class="show-lists">
              <li class='show-list'>
               <% if user_signed_in? && comment.user == current_user %>
                <%=link_to "編集", edit_item_comment_path(@item,comment), data: { turbo_frame: "modal" }, class:"show-list" %>
              <br>
                <%= link_to "削除", item_comment_path(@item,comment), data: {turbo_method: :delete},  class:"show-list"%>
               <%end%>
               </li>
           </div>
           <br>
           <li class='comment-text2'><%= comment.text %></li>
           <div class="reply hidden" id='reply-show'>
             <div class='reply-context'>
           <%=form_with model: Reply.new, url: item_comment_replies_path(@item, comment), local: true do |f|%>
           <%#= render 'shared/error_messages', model: f.object wh%>
            <%=f.text_field :context,class:'reply-text'%>
            <%=f.submit '送信', class:'reply-submit'%>
            <%#end%>
           </div>
           <%comment.replies.each do |reply|%>
          <div class="reply-lists">
            <div class="reply-list">
             <div class='ro'>
              <%=reply.user.nickname%> =>
             <div class='reply-context'><%=reply.context %></div>  
             <div class="ten-ran">
            <div class="comment-show">
              <span>:</span>
            </div>
             <ul class="show-lists">
              <li class='show-list'>
               <% if user_signed_in? && reply.user == current_user %>
                <%=link_to "編集", edit_item_comment_reply_path(@item,comment,reply), data: { turbo_frame: "modal" }, class:"show-list" %>
              <br>
                <%= link_to "削除", item_comment_reply_path(@item,comment,reply), data: {turbo_method: :delete},  class:"show-list"%>
               <%end%>
               </li>
             </ul>
           </div>
            </div>
             <br>
             <div class="reply-images">
               <%=image_tag "images/comment.png",class:"reply-image",width:"15",height:"20", id:'replies'%>
         <!--span id='star-counts'>0</span-->
               <div id="like-btn"><%= reply.id %>
                <% if user_signed_in? %>
                <%#&& reply.liked_by?(current_user)%>
                 <%=link_to "❤️", item_likes_path(reply.id), data: { turbo_method: :delete }, class: "reply-likes" %>
                <% else %>
                 <%=link_to "♡", item_likes_path(reply.id), data: { turbo_method: :post }, class: "reply-likes" %>
                <% end %>
              </div>
            </div>
            </li>
            <!--div class='replies hidden' id='reply'>#
            <span class='w'><%#reply.user.nickname%>宛に返信</span>
             <div class='replies-reply'>
              <%#=form_with model: Reply.new, url: item_comment_replies_path(@item, comment), local: true do |f|%>
              <%#= render 'shared/error_messages', model: f.object wh%>
               <%=f.text_field :context,class:'reply-text'%>
               <%=f.submit '送信', class:'reply-submit'%>
             </div>
            </div-->      
            </div>
          </div> 
         <%end%>
        <%end%>
       </div>
           <br>
             <li class="comment-images">
         <%=image_tag "images/comment.png",class:"comment-image",width:"15",height:"20", id:'reply-ran'%>
         <span id='star-counts'>0</span>
        <div id="like-btn<%= comment.id %>">
          <% if user_signed_in? %><%#&& comment.liked_by?(current_user)%>
           <%=link_to "❤️", item_like_path(comment.id), data: { turbo_method: :delete }, class: "comment-likes" %>
          <% else %>
            <%=link_to "♡", item_likes_path(comment.id), data: { turbo_method: :post }, class: "comment-likes" %>
          <% end %>
        </div>
       </li>
       </li>
        <%#r%>
<%end%>
       <%#i%>
     </li>
      </li>  
      </ul>  
  </div>
  <div class="links">
    <a href="#" class="change-item-btn">
      ＜ 前の商品
    </a>
    <a href="#" class="change-item-btn">
      後ろの商品 ＞
    </a>
  </div>
  <a href="#" class="another-item"><%= @item.genre.name %>をもっと見る</a>
</div>
<%= render "shared/footer" %>

